*, ::before, *::after {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: normal;
}

.lista {
  margin: 50px auto;/* This is for the box to center in the middle of the page.*/
  width: 450px;
  min-height: 600px;
  border:0.1px;/* border: 1px solid #000;* As our background is black, the border is not necessary*/
  background-color: coral;
}
.lista__heading {
  float: left;
  font-size: 1.5rem;
  margin-left: 10px;
  margin-top: 30px;

}

.lista__menu {
  float: right;
  margin-top: 40px;
  margin-left: 30px;
  justify-content: space-evenly;
}
header {
  display: flex;
  width: 450px;
  min-height: 100px;
  background-color: rgb(78, 104, 181);
}

.lista__add {
  background-color: rgb(239, 103, 18);
  display: flex;
}
.lista__add__text > p {
  text-align: right;
  padding-right: 10px;
}

.lista__add__button {
  background-color: black ;
  color: orange;
  height: 30px;
  border-radius: 50%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  font-size: 1.2rem;
  
}

.material-icons-outlined {
 float: right;
}

ul.lista__main__left, ul.lista__main__right {
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100px;
  padding: 0;
  align-items: end;
  margin-bottom: 25px;
}